[Unit]
Description=Python script for controlling Murdoch
After=network.target

[Service]
User=ota
WorkingDirectory=/home/ota/PyDoch/src/
ExecStart=/home/ota/PyDoch/.venv/bin/python /home/ota/PyDoch/src/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
