[Unit]
Description=Python scripts for controlling Murdoch and Gyobot.
After=network.target

[Service]
User=ota
WorkingDirectory=/home/ota/PyDoch/
ExecStart=/home/ota/PyDoch/boot.sh -p
Restart=on-failure

[Install]
WantedBy=multi-user.target
